<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{dd-MM-yyyy HH:mm:ss}][%C][%t][%L][%-5p]%m%n
			</pattern>
		</encoder>
	</appender>

	<appender name="INFO" class="ch.qos.logback.core.FileAppender">
		<file>${log.dir}/support_bySecond.log</file>
		<append>true</append>
		<encoder>
			<pattern>[%d{dd-MM-yyyy HH:mm:ss}][%C][%t][%L][%-5p]%m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ERROR" class="ch.qos.logback.core.FileAppender">
		<file>${log.dir}/error_bySecond.log</file>
		<append>true</append>
		<encoder>
			<pattern>[%d{dd-MM-yyyy HH:mm:ss}][%C][%t][%L][%-5p]%m%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</root>
</configuration>